In [1]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")
df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [2]:
gold_city_revenue = df[df['membership_type'] == 'Gold'].groupby('city')['order_amount'].sum()
gold_city_revenue.sort_values(ascending=False)

KeyError: 'membership_type'

In [3]:
df.columns

Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating'],
      dtype='str')

In [4]:
gold_city_revenue = df[df['membership'] == 'Gold'].groupby('city')['order_amount'].sum()
gold_city_revenue.sort_values(ascending=False)

KeyError: 'Column not found: order_amount'

In [5]:
df.columns.tolist()

['order_id',
 'user_id',
 'restaurant_id',
 'order_date',
 'total_amount',
 'restaurant_name_x',
 'name',
 'city',
 'membership',
 'restaurant_name_y',
 'cuisine',
 'rating']

In [6]:
gold_city_revenue = df[df['membership'] == 'Gold'].groupby('city')['total_amount'].sum()
gold_city_revenue.sort_values(ascending=False)

city
Chennai      1080909.79
Pune         1003012.32
Bangalore     994702.59
Hyderabad     896740.19
Name: total_amount, dtype: float64

In [7]:
cuisine_avg_order = df.groupby('cuisine_type')['total_amount'].mean()
cuisine_avg_order.sort_values(ascending=False)

KeyError: 'cuisine_type'

In [8]:
df.columns.tolist()

['order_id',
 'user_id',
 'restaurant_id',
 'order_date',
 'total_amount',
 'restaurant_name_x',
 'name',
 'city',
 'membership',
 'restaurant_name_y',
 'cuisine',
 'rating']

In [9]:
cuisine_avg_order = df.groupby('cuisine')['total_amount'].mean()
cuisine_avg_order.sort_values(ascending=False)

cuisine
Mexican    808.021344
Italian    799.448578
Indian     798.466011
Chinese    798.389020
Name: total_amount, dtype: float64

In [10]:
user_total = df.groupby('user_id')['total_amount'].sum()
high_value_users = user_total[user_total > 1000].nunique()
high_value_users

2543

In [11]:
bins = [3.0, 3.5, 4.0, 4.5, 5.0]
labels = ["3.0–3.5","3.6–4.0","4.1–4.5","4.6–5.0"]
df['rating_range'] = pd.cut(df['restaurant_rating'], bins=bins, labels=labels, include_lowest=True)
df.groupby('rating_range')['total_amount'].sum().sort_values(ascending=False)

KeyError: 'restaurant_rating'

In [12]:
bins = [3.0, 3.5, 4.0, 4.5, 5.0]
labels = ["3.0–3.5","3.6–4.0","4.1–4.5","4.6–5.0"]
df['rating_range'] = pd.cut(df['rating'], bins=bins, labels=labels, include_lowest=True)
df.groupby('rating_range')['total_amount'].sum().sort_values(ascending=False)

rating_range
4.6–5.0    2197030.75
3.0–3.5    2136772.70
4.1–4.5    1960326.26
3.6–4.0    1717494.41
Name: total_amount, dtype: float64

In [13]:
gold_city_avg = df[df['membership'] == 'Gold'].groupby('city')['total_amount'].mean()
gold_city_avg.sort_values(ascending=False)

city
Chennai      808.459080
Hyderabad    806.421034
Bangalore    793.223756
Pune         781.162243
Name: total_amount, dtype: float64

In [14]:
cuisine_stats = df.groupby('cuisine').agg(
    distinct_restaurants=('restaurant_id','nunique'),
    total_revenue=('total_amount','sum')
)
cuisine_stats.sort_values('distinct_restaurants')

         distinct_restaurants  total_revenue
cuisine
Chinese                   120     1930504.65
Indian                    126     1971412.58
Italian                   126     2024203.80
Mexican                   128     2085503.09

In [15]:
gold_orders = df[df['membership'] == 'Gold'].shape[0]
total_orders = df.shape[0]
percentage = round((gold_orders / total_orders) * 100)
percentage

50

In [16]:
restaurant_stats = df.groupby('restaurant_name_x').agg(
    avg_order=('total_amount','mean'),
    total_orders=('order_id','count')
)
filtered = restaurant_stats[restaurant_stats['total_orders'] < 20]
filtered.sort_values('avg_order', ascending=False)

                                     avg_order  total_orders
restaurant_name_x
Hotel Dhaba Multicuisine           1040.222308            13
Sri Mess Punjabi                   1029.180833            12
Ruchi Biryani Punjabi              1002.140625            16
Sri Delights Pure Veg               989.467222            18
Classic Kitchen Family Restaurant   973.167895            19
...                                        ...           ...
Annapurna Tiffins Punjabi           621.828947            19
Darbar Tiffins Non-Veg              596.815556            18
Darbar Restaurant Punjabi           589.972857            14
Spice Tiffins Pure Veg              578.578667            15
Ruchi Mess Punjabi                  572.686471            17

[170 rows x 2 columns]

In [17]:
combo_revenue = df.groupby(['membership','cuisine'])['total_amount'].sum()
combo_revenue.sort_values(ascending=False)

membership  cuisine
Regular     Mexican    1072943.30
            Italian    1018424.75
Gold        Mexican    1012559.79
            Italian    1005779.05
Regular     Indian      992100.27
Gold        Indian      979312.31
            Chinese     977713.74
Regular     Chinese     952790.91
Name: total_amount, dtype: float64

In [18]:
df['order_date'] = pd.to_datetime(df['order_date'])
df['quarter'] = df['order_date'].dt.to_period('Q')
quarter_revenue = df.groupby('quarter')['total_amount'].sum()
quarter_revenue.sort_values(ascending=False)

C:\Users\HP\AppData\Local\Temp\ipykernel_13140\2651041631.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['order_date'] = pd.to_datetime(df['order_date'])

quarter
2023Q3    2037385.10
2023Q4    2018263.66
2023Q1    1993425.14
2023Q2    1945348.72
2024Q1      17201.50
Freq: Q-DEC, Name: total_amount, dtype: float64

In [19]:
gold_orders_count = df[df['membership'] == 'Gold'].shape[0]
gold_orders_count

4987

In [20]:
hyd_revenue = df[df['city'] == 'Hyderabad']['total_amount'].sum()
round(hyd_revenue)

1889367

In [21]:
distinct_users = df['user_id'].nunique()
distinct_users

2883

In [22]:
gold_avg_order = df[df['membership'] == 'Gold']['total_amount'].mean()
round(gold_avg_order, 2)

np.float64(797.15)

In [23]:
high_rating_orders = df[df['rating'] >= 4.5].shape[0]
high_rating_orders

3374

In [24]:
df.columns.tolist()

['order_id',
 'user_id',
 'restaurant_id',
 'order_date',
 'total_amount',
 'restaurant_name_x',
 'name',
 'city',
 'membership',
 'restaurant_name_y',
 'cuisine',
 'rating',
 'rating_range',
 'quarter']

In [25]:
len(df)

10000

In [ ]:
pd.merge()